project_biking/HeavyClient/BikingHeavyClient/BikingHeavyClient/Connected Services/RoutingWithBikes/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetRestStationsAndItinary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRestStationsAndItinary" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRestStationsAndItinary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRestStationsAndItinaryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSoapStationsAndItinary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSoapStationsAndItinary" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSoapStationsAndItinary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSoapStationsAndItinaryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStatistics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatistics" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStatistics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatisticsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetRestStationsAndItinary">
      <wsdl:input wsam:Action="http://tempuri.org/IService1/GetRestStationsAndItinary" message="tns:IService1_GetRestStationsAndItinary_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService1/GetRestStationsAndItinaryResponse" message="tns:IService1_GetRestStationsAndItinary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSoapStationsAndItinary">
      <wsdl:input wsam:Action="http://tempuri.org/IService1/GetSoapStationsAndItinary" message="tns:IService1_GetSoapStationsAndItinary_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService1/GetSoapStationsAndItinaryResponse" message="tns:IService1_GetSoapStationsAndItinary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatistics">
      <wsdl:input wsam:Action="http://tempuri.org/IService1/GetStatistics" message="tns:IService1_GetStatistics_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService1/GetStatisticsResponse" message="tns:IService1_GetStatistics_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPEndPoint" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRestStationsAndItinary">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRestStationsAndItinary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSoapStationsAndItinary">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSoapStationsAndItinary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatistics">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStatistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="SOAPEndPoint" binding="tns:SOAPEndPoint">
      <soap:address location="http://localhost:8734/Lets_go_biking/RoutingWithBikes/Service1/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>